# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Connect to Supabase via connection pooling.
DATABASE_URL=""
# Direct connection to the database. Used for migrations.
DIRECT_URL=""

GMAP_API_KEY=""
MAPBOX_API_KEY=""
TRAKT_CLIENT_ID=""
TRAKT_CLIENT_SECRET=""
OMDB_API_KEY=""
TMDB_API_KEY=""
SENTRY_AUTH_TOKEN=""